<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Airbnb Vs. Hotels</title>

      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}"  media="screen,projection"/>
      	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin=""/>
      	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" media="screen,projection">
      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>

	<div class="menu-button">
		<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
	</div>

	<div id="map">
	</div>
    
    <ul id="slide-out" class="side-nav fixed">
    	<div class="row">
	        <div class="input-field col s12">
	          <input id="search" type="text" class="validate">
	          <label for="search">Search</label>
	        </div>
    	</div>
      <div id="vis" style="display:none;">
      	<div class="row center">
          <p id="difference-text"></p>
      		<h6 id="price-hist-title" class="side-subheader">Overall Price Distribution</h6>
      		<div id="prices-hist"></div>
      	</div>
        <div class="row center">
          <h6 id="price-time-title" class="side-subheader">Average Price Over Time</h6>
          <div id="time"></div>
        </div>
        <div class="row center">
          <h6 id="review-title" class="side-subheader">Review Sentiment Analysis</h6>
          <div id="reviews"></div>
        </div>
        <div class="row center">
          <h6 id="beds-title" class="side-subheader">Beds Available</h6>
          <div id="rooms"></div>
        </div>
        <div class="row center">
          <h6 id="available-hotel-title" class="side-subheader">Hotels in this Area</h6>
          <div class="collection" id="hotel-collection">
          </div>
        </div>
        <div class="row center">
          <h6 id="available-airbnb-title" class="side-subheader">Airbnb Options in this Area</h6>
          <div class="collection" id="airbnb-collection">
          </div>
        </div>
      </div>
      <ul id="results" class="collection" style="display:none;">
      </ul>
      <div id="no-results" class="row center" style="display:none;">
        No results found
      </div>
    </ul>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.9/d3.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>
    <script src="https://rawgit.com/Kcnarf/d3-distanceLimitedVoronoi/d3v3/distance-limited-voronoi.js"></script>
    <script src="http://d3js.org/queue.v1.min.js"></script>
    <script type"text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
	</body>
</html>